@font-face {
  font-family: Aileron;
  src: url('Aileron-Regular.otf');
}

@font-face {
  font-family: Aileron;
  src: url('Aileron-Bold.otf');
  font-weight: bold;
}

:root {
  --fill-color: #ff393a;
  --back-color: #fff;
  --vis-size: 40vmin;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: var(--vis-size);
  height: var(--vis-size);
  position: relative;
  transition: opacity 1s ease 1s, transform 1s ease 1s;
  overflow: hidden;
}

#fixed-back {
  background: var(--back-color);
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#logo {
  width: 100%;
  height: 100%;
  background: url('../images/bird.svg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#spectrum {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: calc( (var(--vis-size) / 16) - 2px );
  background: var(--fill-color);
  transition: bottom 500ms linear;
}

#credits {
  color: white;
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  font-family: Aileron;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  transition: opacity 1s linear;
}

#name a {
  color: white !important;
  text-decoration: none !important;
  -webkit-text-stroke: 0.5px white;
}

#name {
  font-size: 39px;
}

#schedule {
  position: fixed;
  top: 3rem;
  right: 5rem;
  color: white;
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  font-family: Aileron;
  font-size: 30px;
  transition: opacity 1s linear;
}

#schedule div {
  transition: color 0.25s linear;
}

#time {
  text-align: left;
}

#artist {
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
}

.hide #container {
  opacity: 0;
  transform: scale(0);
}

.hide #credits, .hide #schedule, #schedule.hide {
  opacity: 0;
}

.hide #spectrum {
  bottom: calc( -1 * var(--vis-size) );
}